[submodule "themes/shibui"]
	path = themes/shibui
	url = https://github.com/ntk148v/shibui.git
[submodule "themes/hugo-theme-console"]
	path = themes/hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
