<pre class="ascii-image">
              ---
         ......-.......
      .-......-.---+---..
     -.------+++++++++++.-.
    ..-------+++++++++++++-
   -..-------++++++++++++++.
   .--------+++++++++++++++-
   -------+++--++++++++++++-
   .-+---------+-+----++++++-
    -----.  -.-.-++-. +.-++.-
 .---+-+-------.-+++----++-+--
 .-.-+---++++----+++-++++++++-
 --.+-----++-.---++++-+++++++
  --++-------....---++.-+++++
    -------.-----++++++--++-
     -----+--.-+++++.++--++
     --------------++++++-
      ---.------++++++++-
      ---...----++++++--
   . .---........-----++
 .   +----........--+++
..  .-----------+++++++.
</pre>
